html {
    scroll-behavior: smooth;
}

.proofratings-badge {
    --padx: 20px;
    color: #000!important;
    min-width: 218px;
    display: inline-block;
    font-size: 18px;
    line-height: 1.3;
    cursor: pointer;
    text-decoration: none!important;
    background-color: #fff;
    border-radius: 10px;
    transition: all 200ms;
    box-shadow: 0 0 4px 4px var(--shadowColor, rgba(246,211,0,0.4))!important
}

.proofratings-badge.right {
    left: auto;
    right: 30px
}

.proofratings-badge:hover {
    box-shadow: 0 0 4px 4px var(--shadowHover, #377dbc66)!important;
}

.proofratings-badge .proofratings-inner {padding: 15px var(--padx) 10px}

.proofratings-badge .proofratings-score {font-size: 18px}

.proofratings-badge .proofratings-review-count {    
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
}


.proofratings-badge .proofratings-close {
    --size: 22px;
    color: #fff;
    font-size: 22px;
    font-style: normal;
    width: var(--size);
    height: var(--size);
    text-align: center;
    line-height: 0.9;
    border-radius: 100px;
    position: absolute;
    z-index: 56;
    top: -8px;
    right: -8px;
    display: none;
    background-color: #e9e9e9;
}

.proofratings-badge:hover .proofratings-close {
    display: block;
}

.proofratings-logos {text-align: center; line-height: 1; margin-bottom: 7px; flex: 0 0 auto}

.proofratings-logos img {
    --size: 25px;
    width: var(--size);
    height: var(--size);
    margin-left: -6px;
    object-fit: contain;
    border: 2px solid #fff;
    border-radius: 100px;
}

.proofratings-logos img:first-child {margin-left: 0;}

.proofratings-reviews {
    text-align: center;
    display: flex;
    font-size: 21px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.proofratings-stars, .proofratings-stars i {
    height: 15px!important;
    -webkit-mask-image: url(../images/star.svg);
    -webkit-mask-repeat: repeat-x;
    -webkit-mask-size: 20px 15px;   
}

.proofratings-stars {
    margin-left: 7px;
    width: 97.5px!important;
    display: inline-block;
    background-color: #ddd
}

.proofratings-stars i {
    display: block;
    width: 87%;
    background-color: #212A3D
}

.proofratings-badge.opened {visibility: hidden;}

.proofratings-badge.proofratings-floating-badge, .proofratings-badge.badge-float {
    position: fixed;
    left: 30px;
    bottom: 30px;
    z-index: 30000;
}



.proofratings-badge.proofratings-floating-badge.right, .proofratings-badge.badge-float.right {
    left: auto;
    right: 30px
}

.proofratings-badge.badge-float.center, .proofratings-badge.badge-float.center-bottom {
    left: 50%;
    transform: translateX(calc(50vw - 50%));

}

.proofratings-badge.proofratings-floating-badge .proofratings-review-count {
    color: #fff;
    padding: 10px var(--padx);
    background-color: #212a3d;
    border-radius: 0 0 10px 10px;
}


.proofratings-badge.proofratings-banner-badge {
    min-height: 62px;
    padding: 15px 20px;
    display: inline-flex;
    align-items: center;
    --shadowColor: rgba(0,0,0, 0.10)
}

.proofratings-badge.proofratings-banner-badge .proofratings-logos {margin-bottom: 0; margin-right: 20px;}
.proofratings-badge.proofratings-banner-badge .proofratings-reviews {margin-right: 20px;}




.proofratings-review-widgets-grid {
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 225px))
}

.proofratings-widget {
    color: var(--textColor, inherit)!important;
    display: flex;
    padding: 10px 20px;
    line-height: 1.2;
    align-items: center;
    border-radius: 10px;
    width: 200px;
    min-height: 185px;
    font-family: "Didact Gothic"!important;
    flex-direction: column;
    background-color: #fff;
    text-decoration: none!important;
    border: 3px solid transparent;
    transition: 150ms all;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0, 0.25)!important;
}

.proofratings-widget:hover {
    border-color: var(--themeColor)
}

.proofratings-widget .review-site-logo {
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.proofratings-widget .review-site-logo img {
    max-width: 100%;
    max-height: 100%;
}

.proofratings-widget .proofratings-stars i {
    background-color: var(--themeColor, #0f7ff3);
}

.proofratings-widget .review-count {
    color: #fff;
    line-height: 1.3;
    padding: 5px 12px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--themeColor, #0f7ff3);
    border-radius: 2px;
}

.proofratings-widget .view-reviews {
    font-size: 12px;
    margin-top: 8px;
    letter-spacing: 1px;
}

.proofratings-floating-widgets-box::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background-color: transparent;
}

.proofratings-floating-widgets-box::-webkit-scrollbar-thumb {
    visibility: hidden;
    background-color: darkgrey;
    border-radius: 100px;
}

.proofratings-floating-widgets-box:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

#proofratings-floating-embed {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 50000;
    opacity: 0;
    visibility: hidden;
    padding: 8px;
    max-width: 90vw;
    pointer-events: none;
    padding-bottom: 4px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
    transform: translate(var(--translateX, 0), var(--translateY, 110%));
    transition: all 140ms;
}

.proofratings-badge.center + #proofratings-floating-embed,
.proofratings-badge.center-bottom + #proofratings-floating-embed {
    left: 50%;
    --translateX: -50%
}

.proofratings-badge.right + #proofratings-floating-embed {
    left: auto;
    right: 20px;
}

.proofratings-badge.opened + #proofratings-floating-embed {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    --translateY: 0
}

.proofratings-floating-widgets-box {
    overflow-y: auto;
    display: flex;
}

#proofratings-floating-embed .proofratings-floating-widgets-box {
    --column: 4;
    display: grid;
    grid-template-columns: repeat(var(--column), 200px);
}

#proofratings-floating-embed .proofratings-floating-widgets-box[data-column="1"] {--column: 1}
#proofratings-floating-embed .proofratings-floating-widgets-box[data-column="2"] {--column: 2}
#proofratings-floating-embed .proofratings-floating-widgets-box[data-column="3"] {--column: 3}
#proofratings-floating-embed .proofratings-floating-widgets-box[data-column="5"] {--column: 5}

#proofratings-floating-embed .proofratings-widget {
    box-shadow: none!important;
    position: relative;
    border: none;
}

#proofratings-floating-embed .proofratings-widget:not(:last-child):after {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: 1px;
    right: 0;
    z-index: 3;
    background-color: rgb(224,224,224);
}

#proofratings-floating-embed .proofratings-floating-widgets-box:not([data-column="5"]) .proofratings-widget:nth-child(4n):after {content: none!important}

#proofratings-floating-embed .proofrating-close {
    color: #212a3d;
    position: absolute;
    top: 2px;
    font-weight: bold;
    font-size: 40px;
    right: 8px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.proofratings-banner-badge-tab {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 85vh;
    text-align: center;
    z-index: 60606;
    transform: translate(calc(50vw - 50%), var(--translateY, calc(100% - var(--badgeHeight, 62px))));
    transition: all 200ms;
}

.proofratings-banner-badge-tab.opened {
    --translateY: -10px
}

.proofratings-banner-badge-tab .proofratings-banner-badge, .proofratings-banner-badge-tab #proofratings-floating-embed {
    position: static;
    transform: translate(0)!important;
}

.proofratings-banner-badge-tab #proofratings-floating-embed {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
}

.proofratings-banner-badge-tab #proofratings-floating-embed .proofrating-close {display: none!important}


.proofratings-banner-badge-tab .proofratings-banner-badge {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .proofratings-badge.badge-hidden-tablet {display: none!important}
}

@media screen and (max-width: 767px) {
    .proofratings-badge.badge-hidden-mobile {display: none!important}
}

@media screen and (max-width: 575px) {
    .proofratings-floating-widgets-box {
        display: block!important;
        overflow-x: inherit;
        flex-direction: column;
        max-height: 80vh;
        overflow-y: auto;
    }
    
    .proofratings-floating-widgets-box .proofratings-widget {
        padding: 8px;
        margin-right: 0!important;
    }

    #proofratings-floating-embed .proofratings-widget:not(:last-child):after {
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        width: auto;
    }

    .proofratings-banner-badge-tab .proofratings-banner-badge {margin-bottom: 10px;}
}