html {
    scroll-behavior: smooth;
}

  .proof-ratings-floating-badge {
    --padx: 20px;
    min-width: 230px;
    display: inline-block;
    position: fixed;
    left: 30px;
    bottom: 30px;
    z-index: 3000;
    line-height: 1.3;
    text-decoration: none!important;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 4px 4px var(--shadowColor, rgba(246,211,0,0.4));
    transition: all 200ms;
}

.proof-ratings-floating-badge.right {
    left: auto;
    right: 30px
}

.proof-ratings-floating-badge:hover {
    box-shadow: 0 0 4px 4px var(--shadowHover, #377dbc66);
}

.proof-ratings-floating-badge .proof-ratings-inner {
    padding: 15px var(--padx);
}

.proof-ratings-logos {text-align: center; line-height: 1; margin-bottom: 10px;}

.proof-ratings-logos img {
    width: 23px;
    height: 23px;
    margin-left: -6px;
    object-fit: contain;
    border: 2px solid #fff;
    border-radius: 100px;
}

.proof-ratings-logos img:first-child {margin-left: 0;}

.proof-ratings-reviews {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proof-ratings-stars, .proof-ratings-stars i {
    height: 15px!important;
    -webkit-mask-image: url(../images/star.svg);
    -webkit-mask-repeat: repeat-x;
    -webkit-mask-size: 20px 15px;   
}

.proof-ratings-stars {
    margin-left: 7px;
    width: 95.5px!important;
    display: inline-block;
    background-color: rgb(148, 148, 148);
}

.proof-ratings-stars i {
    display: block;
    width: 87%;
    background-color: #212A3D
}

.proof-ratings-floating-badge .proof-ratings-review-count {
    color: #fff;
    font-size: 14px;
    padding: 10px var(--padx);
    text-align: center;
    background-color: #212a3d;
}

.proof-ratings-review-widgets-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr))
}

.proof-ratings-widget {
    color: var(--textColor, inherit);
    display: flex;
    padding: 15px 20px;
    line-height: 1.2;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    background-color: #fff;
    text-decoration: none!important;
    border: 3px solid transparent;
    box-shadow: 0 0 4px 0px rgba(0,0,0,0.25);
    transition: 150ms all;
}

.proof-ratings-widget:hover {
    border-color: var(--themeColor)
}

.proof-ratings-widget .review-site-logo {
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.proof-ratings-widget .review-site-logo img {
    max-width: 100%;
    max-height: 100%;
}

.proof-ratings-widget .proof-ratings-stars i {
    background-color: var(--themeColor, #0f7ff3);
}

.proof-ratings-widget .review-count {
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
    padding: 5px 12px;
    margin-top: 10px;
    background-color: var(--themeColor, #0f7ff3);
}

.proof-ratings-widget .view-reviews {
    font-size: 12px;
    margin-top: 8px;
}

