.proofratings-status {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-left: 3px solid rgb(156, 44, 44);
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
}

.proofratings-status p {
    margin: 0;
    font-size: inherit;
}

.proofratings-settings-wrap .shortcode-info {
    margin-bottom: 20px;
}

.proofratings-settings-wrap .proofratings-options {
    max-width: 1200px;
}

.proofratings-settings-wrap .wp-heading-inline {margin-bottom: 10px;}

.proofratings-settings-wrap .nav-tab-wrapper {margin-bottom: 20px!important}

.review-sites-checkboxes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.review-sites-checkboxes .checkbox-review-site {
    margin-right: 20px;
    margin-bottom: 20px;
}

.checkbox-review-site {
    padding: 20px;
    height: 40px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
}

.checkbox-review-site img {
    max-width: 100px;
    max-height: 100%;
}

.checkbox-review-site input {
    position: absolute;
    top: 3px;
    left: 3px;
    visibility: hidden;
    margin: 0!important;
    height: auto!important;
    width: auto!important;
    font-size: 20px;
    font-family: dashicons!important;
    appearance: none!important;
    border: none!important;
    outline: none!important;
    box-shadow: none!important;
}

.checkbox-review-site input:before {
    float: none!important;
    content: "\f12a"!important;
    vertical-align: text-bottom!important;
}

.checkbox-review-site input:checked {
    color: green;
    visibility: visible;
}

.checkbox-review-site input:checked:before {
    margin: 0!important;
    height: auto!important;
    width: auto!important;
}

fieldset.fieldset-site-review {display: none; margin-bottom: 30px;}


.review-us {
    text-align: center;
    font-size: 17px;
}

input[type="checkbox"].checkbox-switch {
    text-align: center;
    width: 58px;
    font-size: 11px;
    line-height: inherit;
    font-weight: normal;
    padding: 0 8px!important;
    padding-left: 20px!important;
    background-color: #000;
    border: 1px solid #000;

    height: 20px;
    display: inline-flex;
    align-items: center;
    position: relative;
    outline: none!important;
    border-radius: 100px;
}

input[type="checkbox"].checkbox-switch:before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: 2px;
    left: 3px;
    margin: 0!important;
    display: inline-block;
    background: #fff;
    border-radius: 100px;
    transition: all 150ms;
}

input[type="checkbox"].checkbox-switch:after {
    font-size: 11px;
    line-height: 1;
    font-weight: normal;
    margin-left: 13px;
    color: #fff;
    content: "Hide";
    margin: 0!important;
}

input[type="checkbox"].checkbox-switch:checked {
    padding-right: 20px!important;
    padding-left: 8px!important;
    background-color: #2271b1;
    border-color: #2271b1;
}


input[type="checkbox"].checkbox-switch:checked:before {
    left: calc(100% - 14px - 2px);
    background: #fff;
}

input[type="checkbox"].checkbox-switch:checked:after {
    content: "Show";
}

input[type="checkbox"].checkbox-float-embed {width: 65px;}
input[type="checkbox"].checkbox-float-embed:after {content: "Embed"; flex: 1; text-align: center;}
input[type="checkbox"].checkbox-float-embed:checked:after {content: "Float";}


#pfb-exclude-page {min-width: 300px}

table.form-table.banner-badge-embed #tablet-visibility-option,
table.form-table.banner-badge-embed #mobile-visibility-option,
table.form-table.banner-badge-embed #close-button-option,
table.form-table.banner-badge-embed #banner-badge-position {
    display: none!important;
}


table.form-table:not(.banner-badge-embed) .shortcode-guide {
    display: none;
}

.proofratings-styles {
    display: flex;
    align-items: center;
}

.proofratings-styles img {
    margin-left: 30px;
    height: 100px;
}