:root {
    --wrap_edge: 30px;
    --text_color: #2C3149;
    --text_color_gray: #6e6f72;
    --primary_color: #4123FF;
}

.gap-10 {height: 10px;}
.gap-20 {height: 20px;}
.gap-30 {height: 30px;}
.gap-40 {height: 40px;}
.gap-50 {height: 50px;}


.button.button-primary {padding: 4px 20px; font-weight: 500; background-color: var(--primary_color)}
.button.button-primary:hover, .button.button-primary:focus {background-color: #2a0fda}

.button.btn-save {min-width: 100px;}

.bold {font-weight: bold!important}

.btn-support {
    color: inherit;
    font-size: 16px;
    text-decoration: none;
}

#tooltip {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
  }

body.screen-proofratings {background-color: #fff}

body.screen-proofratings .wrap.proofratings-settings-wrap {padding: 30px; margin: 0 0 0 -20px}

.screen-proofratings .btn-primary {color: #fff; background-color: #3858e9; border-color: #3858e9!important}
.screen-proofratings .btn-primary:hover {color: #fff; background-color: #2348ec}

.proofratins-header {padding: 30px; margin: -30px -30px 30px -30px; background-color: #F4F7FE; border-bottom: 1px solid #CED0D7}

.header-row {display: flex; justify-content: space-between; align-items: center;}

body.screen-proofratings .form-footer {display: flex; font-weight: 500; align-items: center; gap: 10px; margin-top: 40px;}
body.screen-proofratings .form-footer a {text-decoration: none}
body.screen-proofratings .form-footer .btn-cancel {padding-inline: 20px}

.btn-back-main-menu {color: inherit; text-decoration: none; font-weight: 500}
.btn-back-main-menu .icon-back {position: relative; top: 0px; font-size: 80%}

.proofratins-header .title {
    color: #2C3149;
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;
    margin-right: 16px;
    padding: 0;
}

.proofratings-instruction {font-size: 20px; font-weight: bold}

.proofratings-form-activation-wrapper {
    max-width: 800px;
}

.screen-proofratings .lead-text {
    color: #1d2327;
    font-size: 1.3em;
    margin: 1em 0;
    font-weight: 500;
}

table.form-table caption {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

table.locations_table tr.overall-location {font-weight: bold; background-color: #d4d4d4}

table.locations_table tr .column-edit {width: 50px;}
table.locations_table tr td.column-status {text-transform: capitalize}
table.locations_table tr .column-action {width: 100px}

.proofratings-status {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-left: 3px solid rgb(156, 44, 44);
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
}

.proofraing-progress-msg {
    font-size: 40px;
    margin: 30px 0;
    font-weight: bold;
}

.proofratings-status p {
    margin: 0;
    font-size: inherit;
}

.proofratings-settings-wrap .shortcode-info {
    margin-bottom: 20px;
}

.proofratings-settings-wrap .proofratings-options {
    max-width: 1200px;
}

.proofratings-settings-wrap .wp-heading-inline {margin-bottom: 10px;}

.proofratings-settings-wrap .nav-tab-wrapper {margin-bottom: 20px!important}


.review-sites-checkboxes {display: flex; flex-wrap: wrap; gap: 20px}

.checkbox-review-site {
    padding: 20px;
    height: 40px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
}

.checkbox-review-site img {max-width: 100px; max-height: 100%}

.checkbox-review-site input {
    position: absolute;
    top: 3px;
    left: 3px;
    visibility: hidden;
    margin: 0!important;
    height: auto!important;
    width: auto!important;
    font-size: 20px;
    font-family: dashicons!important;
    appearance: none!important;
    border: none!important;
    outline: none!important;
    box-shadow: none!important;
}

.checkbox-review-site input:before {float: none!important; content: "\f12a"!important; vertical-align: text-bottom!important}
.checkbox-review-site input:checked {color: var(--primary_color); visibility: visible}
.checkbox-review-site input:checked:before {margin: 0!important; height: auto!important; width: auto!important}

fieldset.fieldset-site-review {display: none; margin-bottom: 30px;}

.review-us {text-align: center; font-size: 17px}

input[type="checkbox"].checkbox-switch {
    text-align: center;
    width: 58px;
    font-size: 11px;
    line-height: inherit;
    font-weight: normal;
    padding: 0 8px!important;
    padding-left: 20px!important;
    background-color: #000;
    border: 1px solid #000;

    height: 20px;
    display: inline-flex;
    align-items: center;
    position: relative;
    outline: none!important;
    border-radius: 100px;
}

input[type="checkbox"].checkbox-switch:before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: 2px;
    left: 3px;
    margin: 0!important;
    display: inline-block;
    background: #fff;
    border-radius: 100px;
    transition: all 70ms;
}

input[type="checkbox"].checkbox-switch:after {
    font-size: 11px;
    line-height: 0.9;
    font-weight: normal;
    margin-left: 13px;
    color: #fff;
    content: "Hide";
    margin: 0!important;
}

input[type="checkbox"].checkbox-switch:checked {
    padding-right: 20px!important;
    padding-left: 8px!important;
    background-color: var(--primary_color);
    border-color: var(--primary_color)
}


input[type="checkbox"].checkbox-switch:checked:before {
    left: calc(100% - 14px - 2px);
    background: #fff;
}

input[type="checkbox"].checkbox-switch:checked:after {
    content: "Show";
}

input[type="checkbox"].checkbox-float-embed {width: 65px;}
input[type="checkbox"].checkbox-float-embed:after {content: "Embed"; flex: 1; text-align: center;}
input[type="checkbox"].checkbox-float-embed:checked:after {content: "Float";}


input[type="checkbox"].checkbox-shape {width: 80px;}
input[type="checkbox"].checkbox-shape:after {content: "Round"; flex: 1; text-align: center;}
input[type="checkbox"].checkbox-shape:checked:after {content: "Rectangle";}

input[type="checkbox"].checkbox-onoff {width: 45px;}
input[type="checkbox"].checkbox-onoff:after {content: "Off"; flex: 1; text-align: center;}
input[type="checkbox"].checkbox-onoff:checked:after {content: "On";}

input[type="checkbox"].checkbox-yesno {width: 45px;}
input[type="checkbox"].checkbox-yesno:after {content: "No"; flex: 1; text-align: center;}
input[type="checkbox"].checkbox-yesno:checked:after {content: "Yes";}


#pfb-exclude-page {min-width: 300px}

.proofratings-image-option {display: flex; align-items: center}

.proofratings-image-option > img {margin-right: 20px;}

.proofratings-styles {display: flex; align-items: center}

.proofratings-styles img {margin-left: 30px; height: 100px}

.proofratings-settings-wrap .proofratings-review-widgets-grid *, .proofratings-badge, .proofratings-banner-badge, .proofratings-banner-badge * {box-sizing: border-box}

.proofratings-settings-wrap .proofratings-review-widgets-grid {display: inline-flex; justify-content: flex-start; margin-bottom: 20px}

#sites-square-badge-customize {display: none}

.proofratings-widget-grid-basic {
    padding: 5px 20px 20px;
    background-color: #fff;
}

.proofratings-settings-wrap .proofratings-widget.proofratings-widget-rectangle .rating-title {margin: 0 0 8px 0}

.proofratings-banner-badge {
    padding-left: 40px;
    padding-right: 40px;
    position: static;
    display: inline-flex;
    transform: scale(0.85);
    transform-origin: left;
    clip-path: polygon(0 -30px, 100% -30px, 100% 100%, 0 100%);
}

.proofratings-banner-badge .proofratings-banner-close {display: none!important}

.proofratings-banner-badge .proofratings-review-count {margin-right: 0;}
.proofratings-banner-badge .button-container {display: none}


.proofratings-review-widgets-grid > *:nth-child(n+5) {display: none}

.proofratings-badges-popup {
    opacity: 1;
    position: static;
    pointer-events: all;
    visibility: visible;
    display: inline-block;
    transform: translate(0);
}

.proofratings-badges-popup .proofrating-close {display: none;}

.proofratings-popup-widgets-box > * {box-sizing: border-box;}



.analytics-filter {display: flex; gap: 15px; align-items: center}

.analytics-filter select, #analytics-date {
    line-height: 32px;
    height: 34px;
    border: 1px solid #8c8f94;
    border-radius: 5px;
    box-sizing: border-box;
}

#analytics-date {
    width: 230px;
    padding: 0 15px;
    font-size: 14px;
    align-items: center;
    display: inline-flex;
    font-weight: 600;
    padding-inline-start: 20px;
    background-color: #fff;
    cursor: pointer;
}

#analytics-date .dashicons { margin-left: -10px; margin-right: 6px}

.analytics-information {
    gap: 30px;
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
}

.analytics-information p {color: #a8a8a8; font-size: 14px}

.analytics-information .name {margin: 0; font-size: 16px}

.analytics-information .name + p {margin-top: 5px;}

.analytics-information .counter {
    font-size: 36px;
    font-weight: bold;
    display: block;
    margin: 8px 0 20px;
    line-height: 1;
    position: relative;
}

.analytics-information .counter:before {
    content: "";
    display: block;
    height: 8px;
    width: 72px;
    margin-bottom: 19px;
    border-radius: 40px;
    background-color: #fdbe91;
}

.analytics-information .impressions .counter:before {background-color: #4123FF}
.analytics-information .hovers .counter:before {background-color: rgba(76, 175, 80, 1)}
.analytics-information .engagements .counter:before {visibility: hidden;}
#analytics-chart {margin-top: 30px}

#reporting-email-addresses {
    margin: 7px 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 800px;
}

#reporting-email-addresses > li {
    display: flex;
    font-size: 12px;
    align-items: center;
    padding: 5px 10px 5px 4px;
    background-color: #fff;
    border-radius: 100px;
    transition: all 200ms;
}

#reporting-email-addresses > li:hover {
    background-color: #f1eeee
}

#reporting-email-addresses li .remove {
    margin-left: 2px;
    cursor: pointer;
    position: relative;
    top: -1px;
}

#reporting-email-addresses li .remove:before {font-size: 16px;}

#toplevel_page_proofratings .wp-submenu-head + li {display: none!important}

.proofratings-dashboard-menu {
    margin-top: -31px;
    margin-inline: calc(var(--wrap_edge) * -1);
}

.proofratings-dashboard-menu a {
    display: flex;
    color: #6E7289;
    position: relative;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    padding: 20px var(--wrap_edge);
    border-block: 1px solid #C5C6CD;
    box-shadow: none!important;
    margin-bottom: -1px;
    padding-inline-start: calc(var(--wrap_edge) + 55px)!important;
}

.proofratings-dashboard-menu .menu-icon {
    color: var(--primary_color);
    top: calc(50% - 3px);
    font-size: 35px;
    position: absolute;
    left: var(--wrap_edge);
    transform: translateY(-50%);
}

.proofratings-dashboard-menu .menu-label {
    color: var(--primary_color);
    display: block;
    font-size: 130%;
    font-weight: bold;
}

.proofratings-dashboard-menu p {margin: 2px 0 0}

.rating-badges-navtab {
    display: flex;
    gap: 30px;
    margin-top: 15px;
    margin-bottom: -30px;
}

.rating-badges-navtab a {
    color: inherit;
    padding: 8px 0;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: none!important;
    border-bottom: 3px solid transparent;
    text-decoration: none!important;
}

.rating-badges-navtab a.active {
    color: var(--primary_color);
    border-bottom-color: var(--primary_color);
}

.proofratings-copyarea {max-width: 550px}

.proofratings-copyarea h3 {font-weight: 600; margin-bottom: 10px}
.proofratings-copyarea .shortocde-area {
    padding: 10px;
    font-size: 15px;
    user-select: all;
    display: inline-block;
    margin-bottom: 3px;
    background-color: #fff;
    border: 1px solid #CED0D7;
    border-radius: 5px;
}

.proofratings-copyarea .description {font-size: 12px;}

.section-title-large {color: #2C3149; font-size: 30px; line-height: 1.3; font-weight: bold; margin-top: 40px; margin-bottom: 10px;}

form.form-search-review-sites {
    position: relative;
    width: min(400px, 100%);
    align-self: baseline;
    flex: 0 0 auto;
}

form.form-search-review-sites input {
    width: 100%;
    font-size: 16px;
    padding: 7px 15px;
    padding-inline-end: 45px!important;
    border-color: #CED0D7;
}

form.form-search-review-sites button {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none!important;
    transform: translateY(-50%);
    background: url(../images/icon-search.svg) no-repeat;
    background-size: cover;
}

.proofratings-settings-wrap .intro-text {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #C5C6CD;
    background-color: #F4F7FE;
}

.proofratings-settings-wrap .intro-text h3 {
    color: #2C3149;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 8px;
}

.search-review-sites-wrapper {display: flex; gap: 50px}

table.table-review-sites {border-collapse: collapse; width: calc(100% + (var(--wrap_edge) * 2)); margin-inline: calc(var(--wrap_edge) * -1)}

table.table-review-sites thead th {color: #3c434a; text-align: left}
table.table-review-sites thead th.column-review-sites {width: 25%; min-width: 250px;}
table.table-review-sites thead th.column-click-through-url {width: 40%}

table.table-review-sites :is(th, td) {padding: 12px 15px; vertical-align: middle; border-block: 1px solid #C5C6CD}
table.table-review-sites thead th {color: var(--text_color_gray); border-top: none}

table.table-review-sites :is(th, td):first-child {width: 2%; min-width: 60px; padding-inline-start: var(--wrap_edge)}
table.table-review-sites :is(th, td):last-child {padding-inline-end: var(--wrap_edge)}

table.table-review-sites tbody {font-size: 18px}
table.table-review-sites tbody td {height: 40px}

table.table-review-sites .review-site-logo img {max-width: 200px; vertical-align: middle;}

table.table-review-sites .click-through-url input {font-size: 15px; padding: 3px 12px; margin-right: 10px; width: min(100%, 300px)}

table.table-review-sites .click-through-url a {color: var(--text_color_gray); text-decoration: none; font-size: 16px}

table.table-review-sites .message-pending-connections {color: var(--text_color_gray); font-style: italic}

.email-reporting-wrap {gap: 40px; display: flex; align-items: flex-start}
.email-reporting-wrap .form-table {max-width: 900px}

.schema-wrapper {display: flex; gap: 40px; align-items: flex-start;}
.schema-wrapper .left-column {flex: 0 0 auto; width: 450px;}
.schema-wrapper textarea {width: 100%; padding: 10px; font-size: 15px; min-height: 500px; border-color: #C5C6CD; box-shadow: none!important}

.proofratings-join-date {
    font-weight: bold;
    padding: 5px 15px;
    display: inline-block;
    border: 1px solid #C5C6CD;
    border-radius: 100px;
}