.gap-30 {height: 30px;}

table.form-table caption {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.proofratings-status {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-left: 3px solid rgb(156, 44, 44);
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
}

.proofratings-status p {
    margin: 0;
    font-size: inherit;
}

.proofratings-settings-wrap {padding-left: 20px;}
body.proofratings_page_proofratings-analytics .proofratings-settings-wrap {padding-left: 0}

.proofratings-settings-wrap .shortcode-info {
    margin-bottom: 20px;
}

.proofratings-settings-wrap .proofratings-options {
    max-width: 1200px;
}

.proofratings-settings-wrap .wp-heading-inline {margin-bottom: 10px;}

.proofratings-settings-wrap .nav-tab-wrapper {margin-bottom: 20px!important}

.review-sites-checkboxes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.review-sites-checkboxes .checkbox-review-site {
    margin-right: 20px;
    margin-bottom: 20px;
}

.checkbox-review-site {
    padding: 20px;
    height: 40px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
}

.checkbox-review-site img {
    max-width: 100px;
    max-height: 100%;
}

.checkbox-review-site input {
    position: absolute;
    top: 3px;
    left: 3px;
    visibility: hidden;
    margin: 0!important;
    height: auto!important;
    width: auto!important;
    font-size: 20px;
    font-family: dashicons!important;
    appearance: none!important;
    border: none!important;
    outline: none!important;
    box-shadow: none!important;
}

.checkbox-review-site input:before {
    float: none!important;
    content: "\f12a"!important;
    vertical-align: text-bottom!important;
}

.checkbox-review-site input:checked {
    color: green;
    visibility: visible;
}

.checkbox-review-site input:checked:before {
    margin: 0!important;
    height: auto!important;
    width: auto!important;
}

fieldset.fieldset-site-review {display: none; margin-bottom: 30px;}


.review-us {
    text-align: center;
    font-size: 17px;
}

input[type="checkbox"].checkbox-switch {
    text-align: center;
    width: 58px;
    font-size: 11px;
    line-height: inherit;
    font-weight: normal;
    padding: 0 8px!important;
    padding-left: 20px!important;
    background-color: #000;
    border: 1px solid #000;

    height: 20px;
    display: inline-flex;
    align-items: center;
    position: relative;
    outline: none!important;
    border-radius: 100px;
}

input[type="checkbox"].checkbox-switch:before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: 2px;
    left: 3px;
    margin: 0!important;
    display: inline-block;
    background: #fff;
    border-radius: 100px;
    transition: all 150ms;
}

input[type="checkbox"].checkbox-switch:after {
    font-size: 11px;
    line-height: 0.9;
    font-weight: normal;
    margin-left: 13px;
    color: #fff;
    content: "Hide";
    margin: 0!important;
}

input[type="checkbox"].checkbox-switch:checked {
    padding-right: 20px!important;
    padding-left: 8px!important;
    background-color: #2271b1;
    border-color: #2271b1;
}


input[type="checkbox"].checkbox-switch:checked:before {
    left: calc(100% - 14px - 2px);
    background: #fff;
}

input[type="checkbox"].checkbox-switch:checked:after {
    content: "Show";
}

input[type="checkbox"].checkbox-float-embed {width: 65px;}
input[type="checkbox"].checkbox-float-embed:after {content: "Embed"; flex: 1; text-align: center;}
input[type="checkbox"].checkbox-float-embed:checked:after {content: "Float";}


input[type="checkbox"].checkbox-shape {width: 80px;}
input[type="checkbox"].checkbox-shape:after {content: "Round"; flex: 1; text-align: center;}
input[type="checkbox"].checkbox-shape:checked:after {content: "Rectangle";}

input[type="checkbox"].checkbox-onoff {width: 45px;}
input[type="checkbox"].checkbox-onoff:after {content: "Off"; flex: 1; text-align: center;}
input[type="checkbox"].checkbox-onoff:checked:after {content: "On";}

input[type="checkbox"].checkbox-yesno {width: 45px;}
input[type="checkbox"].checkbox-yesno:after {content: "No"; flex: 1; text-align: center;}
input[type="checkbox"].checkbox-yesno:checked:after {content: "Yes";}


#pfb-exclude-page {min-width: 300px}


.shortocde-area {user-select: all}

.proofratings-image-option {display: flex; align-items: center}

.proofratings-image-option > img {margin-right: 20px;}

.proofratings-styles {display: flex; align-items: center}

.proofratings-styles img {margin-left: 30px; height: 100px}

.proofratings-settings-wrap .proofratings-review-widgets-grid *, .proofratings-badge, .proofratings-banner-badge, .proofratings-banner-badge * {box-sizing: border-box}

.proofratings-settings-wrap .proofratings-review-widgets-grid {display: inline-flex; justify-content: flex-start; margin-bottom: 40px}

#sites-square-badge-customize {display: none}

.proofratings-settings-wrap .proofratings-widget.proofratings-widget-rectangle .rating-title {margin: 0 0 8px 0}

.proofratings-banner-badge {
    padding-left: 40px;
    padding-right: 40px;
    position: static;
    display: inline-flex;
    transform: scale(0.85);
    transform-origin: left;
    clip-path: polygon(0 -30px, 100% -30px, 100% 100%, 0 100%);
}

.proofratings-banner-badge .proofratings-banner-close {display: none!important}

.proofratings-banner-badge .proofratings-review-count {margin-right: 0;}
.proofratings-banner-badge .button-container {display: none}


.proofratings-review-widgets-grid > *:nth-child(n+5) {display: none}

.proofratings-badges-popup {
    opacity: 1;
    position: static;
    pointer-events: all;
    visibility: visible;
    display: inline-block;
    transform: translate(0);
}

.proofratings-badges-popup .proofrating-close {display: none;}

.proofratings-popup-widgets-box > * {box-sizing: border-box;}

body.toplevel_page_proofratings {background-color: #fff}

body.toplevel_page_proofratings #wpcontent {padding-left: 0}

.proofratings-analytics-wrap {margin: 0; padding: 20px 30px}

.analytics-filter {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    margin: 0 -30px;
    margin-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #f3f3f3;
}

.analytics-filter select, #analytics-date {
    line-height: 32px;
    height: 34px;
    border: 1px solid #8c8f94;
    border-radius: 0;
    box-sizing: border-box;
}

#analytics-date {
    width: 230px;
    padding: 0 15px;
    font-size: 14px;
    align-items: center;
    display: inline-flex;
    font-weight: 600;
    background-color: #fff;
    cursor: pointer;
}

#analytics-date .dashicons {
    margin-left: -10px;
    margin-right: 6px;
}

.analytics-information {
    gap: 30px;
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
}

.analytics-information p {
    color: #a8a8a8;
    font-size: 14px;
}

.analytics-information .name {
    margin: 0;
    font-size: 16px;
}

.analytics-information .name + p {margin-top: 5px;}

.analytics-information .counter {
    font-size: 36px;
    font-weight: bold;
    display: block;
    margin: 8px 0 20px;
    line-height: 1;
    position: relative;
}

.analytics-information .counter:before {
    content: "";
    display: block;
    height: 8px;
    width: 72px;
    margin-bottom: 19px;
    border-radius: 40px;
    background-color: #fdbe91;
}

.analytics-information .impressions .counter:before {background-color: #4123FF}
.analytics-information .hovers .counter:before {background-color: rgba(76, 175, 80, 1)}

.analytics-information .engagements .counter:before {visibility: hidden;}

#analytics-chart {
    margin-top: 30px;
}