:root {
    --proofratingsFont: "Product Sans";
}

html {
    scroll-behavior: smooth;
}

:is(.proofratings-widget, .proofratings-badge, .proofratings-banner-badge), :is(.proofratings-widget, .proofratings-badge, .proofratings-banner-badge) * {box-sizing: border-box}

.proofratings-badge {
    --padx: 20px;
    color: #000!important;
    min-width: 218px;
    display: inline-block;
    font-size: 18px;
    line-height: 1.3;
    font-family: var(--proofratingsFont);
    cursor: pointer;
    text-decoration: none!important;
    border-radius: 10px;
    transition: all 200ms;
    background-color: var(--background_color, #fff);
    border: 2px solid var(--border_color, transparent);
    box-shadow: 0 0 4px 4px var(--shadow_color, rgba(246,211,0,0.4))!important
}

.proofratings-badge.badge-embed:not(a) {
    cursor: auto;
}

.proofratings-badge.right {left: auto; right: 30px}

.proofratings-badge:hover {
    border-color: var(--border_hover, var(--border_color, transparent));
    box-shadow: 0 0 4px 4px var(--shadow_hover, #377dbc66)!important;
}

.proofratings-badge .proofratings-inner {padding: 15px var(--padx) 10px}

.proofratings-badge .proofratings-score {color: var(--rating_color, inherit); font-size: 18px}

.proofratings-badge .proofratings-close {
    --size: 22px;
    color: #fff;
    font-size: 22px;
    font-style: normal;
    width: var(--size);
    height: var(--size);
    text-align: center;
    line-height: 1em;
    border-radius: 100px;
    position: absolute;
    z-index: 56;
    top: -8px;
    right: -8px;
    display: none;
    background-color: var(--star_color, #e9e9e9);
}

.proofratings-badge:hover .proofratings-close {display: block}

.proofratings-logos {display: flex; text-align: center; justify-content: center; line-height: 1; margin-bottom: 7px; flex: 0 0 auto}

.proofratings-logos img {
    --size: 25px;
    width: var(--size);
    height: var(--size);
    margin-left: -6px;
    object-fit: contain;
    border: 2px solid #fff;
    border-radius: 100px;
}

.proofratings-logos img:first-child {margin-left: 0;}

.proofratings-review-count {    
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
}

.proofratings-reviews {
    text-align: center;
    display: flex;
    font-size: 21px;
    font-weight: bold;

    justify-content: center;
    align-items: center;
}

.proofratings-stars, .proofratings-stars i {
    height: 15px!important;
    -webkit-mask-image: url(../images/star.svg);
    -webkit-mask-repeat: repeat-x;
    -webkit-mask-size: 20px 15px;   
}

.proofratings-stars {
    margin-left: 7px;
    width: 97.5px!important;
    display: inline-block;
    text-align: left!important;
    background-color: #ddd
}

.proofratings-stars i {
    display: block;
    width: 87%;
    background-color: var(--star_color, #212A3D)
}

.proofratings-stars.medium {width: 117px!important}
.proofratings-stars.medium, .proofratings-stars.medium i {height: 18px!important; -webkit-mask-size: 24px auto}

.proofratings-stars.large {width: 146px!important}
.proofratings-stars.large, .proofratings-stars.large i {height: 22px!important; -webkit-mask-size: 30px auto}



.proofratings-badge.opened {visibility: hidden;}

.proofratings-badge.badge-float {
    position: fixed;
    left: 30px;
    bottom: 30px;
    z-index: 150001;
}

.proofratings-badge.badge-float:hover {
    z-index: 8888888888888888;
}

.proofratings-badge.badge-float.right {
    left: auto;
    right: 30px
}

.proofratings-badge.badge-float.center {
    left: auto;
    transform: translateX(calc(50vw - 50%));
}

.proofratings-badge.proofratings-badge-rectangle .proofratings-review-count {
    color: var(--review_text_color, #fff);
    padding: 10px var(--padx);
    border-radius: 0 0 8px 8px;
    background-color: var(--review_background, #212a3d);
}


.proofratings-badge.proofratings-badge-narrow {
    min-height: 62px;
    padding: 15px 20px;
    display: inline-flex;
    align-items: center;
}

.proofratings-badge.proofratings-badge-narrow .proofratings-inner {display: flex; padding: 0;}
.proofratings-badge.proofratings-badge-narrow .proofratings-logos {margin-bottom: 0; margin-right: 20px;}
.proofratings-badge.proofratings-badge-narrow .proofratings-reviews {margin-right: 20px;}
.proofratings-badge.proofratings-badge-narrow .proofratings-review-count {color: var(--review_text_color);}

.proofratings-review-widgets-grid {
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 220px))
}


.proofratings-review-widgets-grid.proofratings-widgets-grid-basic {grid-template-columns: repeat(auto-fit, minmax(130px, 1fr))}
/* .proofratings-review-widgets-grid.proofratings-widgets-grid-rectangle {grid-template-columns: repeat(auto-fit, minmax(200px, 260px))} */
.proofratings-review-widgets-grid.proofratings-widgets-grid-rectangle {grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))}

.proofratings-review-widgets-grid > * {margin-left: auto; margin-right: auto;}

.proofratings-widget {
    --shadowColor: rgba(0,0,0, 0.25);
    --reviewCountTextColor: #fff;
    
    color: var(--textColor, #000)!important;
    display: flex;
    position: relative;
    padding: 10px 20px;
    line-height: 1.2;
    align-items: center;
    border-radius: 10px;
    width: 200px;
    min-height: 185px;
    font-family: var(--proofratingsFont)!important;
    flex-direction: column;
    background-color: #fff;
    text-decoration: none!important;
    border: 3px solid var(--borderColor, transparent);
    transition: 150ms all;
    box-shadow: 1px 1px 4px 0px var(--shadowColor) !important;
}

.proofratings-widget:hover {
    --borderColor: var(--themeColor);
}

.proofratings-widget .review-site-logo {
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.proofratings-widget .review-site-logo img {max-width: 100%; max-height: 100%}

.proofratings-widget .proofratings-stars i {background-color: var(--themeColor, #0f7ff3)}

.proofratings-widget .proofratings-score {color: var(--rating_color, inherit)}

.proofratings-widget .review-count {
    color: var(--reviewCountTextColor);
    line-height: 1.3;
    padding: 5px 12px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: var(--review_text_background, var(--themeColor, #0f7ff3));
    border-radius: 2px;
}

.proofratings-widget .view-reviews {
    color: var(--view_review_color, inherit);
    font-size: 12px;
    margin-top: 8px;
    letter-spacing: 1px;
}

.proofratings-widget.proofratings-widget-square {border-color: var(--borderColor, transparent)}
.proofratings-widget.proofratings-widget-square:hover {border-color: var(--borderHoverColor, var(--themeColor))}

.proofratings-widget.proofratings-widget-basic {
    width: auto;
    padding: unset;
    display: flex;
    min-height: unset;
    align-items: flex-start;
    border: unset!important;
    margin-left: unset!important;
    background-color: transparent;
    box-shadow: unset!important;
}

.proofratings-widget.proofratings-widget-basic.proofratings-widgets-align-center {align-items: center;}
.proofratings-widget.proofratings-widget-basic.proofratings-widgets-align-right {align-items: flex-end}

.proofratings-widget.proofratings-widget-basic .review-site-logo {height: 40px; margin-bottom: 10px;}

.proofratings-widget.proofratings-widget-basic .proofratings-stars {margin-left: 0}
.proofratings-widget.proofratings-widget-basic .review-count {
    color: var(--review_count_textcolor, #8181ac);
    padding: unset;
    background-color: unset;
}

.proofratings-widget.proofratings-widget-basic .view-reviews {
    color: var(--view_review_textcolor, #216fed);
    display: inline-block;
    text-decoration: none!important;
}

.proofratings-widget.proofratings-widget-basic .view-reviews:after {
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    margin-top: 3px;
    background-color: var(--view_review_textcolor, #216fed);
    margin-left: auto;
    transition: all 200ms;
}

.proofratings-widget.proofratings-widget-basic .view-reviews:hover:after {width: 0}

.proofratings-widget.proofratings-widget-rectangle {
    --reviewCountTextColor: #767676;
    width: 250px;
    display: unset;
    min-height: 0;
    padding-top: 14px;
    text-align: left;
    padding-bottom: 14px;
    border-color: var(--borderColor, transparent)
}

.proofratings-widget.proofratings-widget-rectangle:hover {border-color: var(--borderHoverColor, var(--themeColor))}
.proofratings-widget.proofratings-widget-rectangle .review-site-logo {height: 35px; margin-bottom: 8px; margin-top: -5px}
.proofratings-widget.proofratings-widget-rectangle .proofratings-reviews {text-align: left; justify-content: unset}
.proofratings-widget.proofratings-widget-rectangle .proofratings-score {position: absolute; right: 11px; top: 10px; font-size: 28px; font-weight: bold}
.proofratings-widget.proofratings-widget-rectangle .review-count {padding: unset; font-weight: unset; letter-spacing:0.05em; background-color: transparent}
.proofratings-widget.proofratings-widget-rectangle .proofratings-stars {width: 146px!important; margin-left: 0}

.proofratings-widget.proofratings-widget-rectangle .proofratings-stars, .proofratings-widget.proofratings-widget-rectangle .proofratings-stars i {height: 22px!important; -webkit-mask-size: 30px auto}

.proofratings-review-widgets-grid.proofratings-widgets-grid-icon {grid-template-columns: repeat(auto-fit, minmax(200px, 255px))}
.proofratings-widget.proofratings-widget-icon {--themeColor:var(--star_color); all: unset; font-size: 12px; text-align: left; flex: 0 0 auto; display: flex; align-items: center; border: none!important; box-shadow: none!important}
.proofratings-widget.proofratings-widget-icon .proofratings-stars {margin-left: 0;}
.proofratings-widget.proofratings-widget-icon .review-site-logo {flex: 0 0 46px; margin-bottom: 0; display: unset; height: auto; margin-right: 15px;}
.proofratings-widget.proofratings-widget-icon .review-site-logo img {vertical-align: middle;}
.proofratings-widget.proofratings-widget-icon .review-info-container {flex: 1 0 auto}
.proofratings-widget.proofratings-widget-icon .review-info {color: var(--textcolor, inherit); line-height: 1; font-weight: 600; display: flex; gap: 5px; align-items: center;}
.proofratings-widget.proofratings-widget-icon .review-info .separator-circle {font-size: 11px;}


.proofratings-widget.proofratings-widget-icon.proofratings-widget-logo-color .review-site-logo {-webkit-mask-position: center; -webkit-mask-repeat: no-repeat; -webkit-mask-size: contain; background-color: var(--logoColor)}
.proofratings-widget.proofratings-widget-icon.proofratings-widget-logo-color .review-site-logo img {visibility: hidden; opacity: 0}

.proofratings-widget.proofratings-widget-icon:not(.proofratings-widget-logo-color) .review-site-logo {-webkit-mask: none!important}



.proofratings-widget.proofratings-widget-icon :is(.proofratings-stars, .proofratings-stars i) {height: 21px!important; -webkit-mask-size: 28px auto}
.proofratings-widget.proofratings-widget-icon .proofratings-stars {width: 134.5px!important;}

.proofratings-review-widgets-grid.proofratings-widgets-grid-vertical {display: flex; flex-wrap: wrap; flex-direction: column;}

/* 
.proofratings-widget.proofratings-widget-google:not(.proofratings-widget-customized) {--themeColor: #03AB4E}
.proofratings-widget.proofratings-widget-facebook:not(.proofratings-widget-customized) {--themeColor: #0f7ff3}
.proofratings-widget.proofratings-widget-yelp:not(.proofratings-widget-customized) {--themeColor: #e21c21}
.proofratings-widget.proofratings-widget-bbb:not(.proofratings-widget-customized) {--themeColor: #136796}
.proofratings-widget.proofratings-widget-bestcompany:not(.proofratings-widget-customized) {--themeColor: #3c5170}
.proofratings-widget.proofratings-widget-angi:not(.proofratings-widget-customized) {--themeColor: #FF5E4F}
.proofratings-widget.proofratings-widget-guildquality:not(.proofratings-widget-customized) {--themeColor: #032e57}
.proofratings-widget.proofratings-widget-energysage:not(.proofratings-widget-customized) {--themeColor: #bf793f}
.proofratings-widget.proofratings-widget-solarreviews:not(.proofratings-widget-customized) {--themeColor: #0f92d7}
.proofratings-widget.proofratings-widget-solarquotes:not(.proofratings-widget-customized) {--themeColor: #208ECD}
.proofratings-widget.proofratings-widget-solartribune:not(.proofratings-widget-customized) {--themeColor: #fbcb38}
.proofratings-widget.proofratings-widget-oneflare:not(.proofratings-widget-customized) {--themeColor: #3D9EA0}
.proofratings-widget.proofratings-widget-wordpress:not(.proofratings-widget-customized) {--themeColor: #00769D}
.proofratings-widget.proofratings-widget-capterra:not(.proofratings-widget-customized) {--themeColor: #044D80}
.proofratings-widget.proofratings-widget-g2:not(.proofratings-widget-customized) {--themeColor: #EF4D35}
.proofratings-widget.proofratings-widget-getapp:not(.proofratings-widget-customized) {--themeColor: #41E3E2}
.proofratings-widget.proofratings-widget-softwareadvice:not(.proofratings-widget-customized) {--themeColor: #FD810D}
.proofratings-widget.proofratings-widget-saasworthy:not(.proofratings-widget-customized) {--themeColor: #FEBA52}
.proofratings-widget.proofratings-widget-crozdesk:not(.proofratings-widget-customized) {--themeColor: #015BE3}
.proofratings-widget.proofratings-widget-quickbooks:not(.proofratings-widget-customized) {--themeColor: #2C9F1C} */

.proofratings-popup-widgets-box::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background-color: transparent;
}

.proofratings-popup-widgets-box::-webkit-scrollbar-thumb {
    visibility: hidden;
    background-color: darkgrey;
    border-radius: 100px;
}

.proofratings-popup-widgets-box:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.proofratings-badges-popup {
    position: fixed;
    left: 20px;
    max-height: calc(100% - 80px);
    bottom: 20px;
    z-index: 150002;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    padding: 8px;
    max-width: 90vw;
    pointer-events: none;
    padding-bottom: 4px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
    transform: translate(var(--translateX, 0), var(--translateY, 110%));
    transition: all 140ms;
}

.proofratings-badge.center + .proofratings-badges-popup {
    left: 50%;
    --translateX: -50%
}

.proofratings-badge.right + .proofratings-badges-popup {
    left: auto;
    right: 20px;
}

.proofratings-badge.opened + .proofratings-badges-popup {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    --translateY: 0
}

.proofratings-popup-widgets-box {
    overflow-y: auto;
    display: flex;
}

.proofratings-badges-popup .proofratings-popup-widgets-box {
    --column: 4;
    display: grid;
    grid-template-columns: repeat(var(--column), 200px);
}

.proofratings-badges-popup .proofratings-popup-widgets-box[data-column="1"] {--column: 1}
.proofratings-badges-popup .proofratings-popup-widgets-box[data-column="2"] {--column: 2}
.proofratings-badges-popup .proofratings-popup-widgets-box[data-column="3"] {--column: 3}
.proofratings-badges-popup .proofratings-popup-widgets-box[data-column="5"] {--column: 5}

.proofratings-badges-popup .proofratings-widget {
    box-shadow: none!important;
    position: relative;
    border: none;
}

.proofratings-badges-popup .proofratings-widget:not(:last-child):after {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: 1px;
    right: 0;
    z-index: 3;
    background-color: rgb(224,224,224);
}

@media screen and (min-width: 575px) {
    .proofratings-badges-popup .proofratings-popup-widgets-box:not([data-column="5"]) .proofratings-widget:nth-child(4n):after {content: none!important}
}

.proofratings-badges-popup .proofrating-close {
    color: #212a3d;
    position: absolute;
    top: 2px;
    font-weight: bold;
    font-size: 40px;
    right: 8px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.proofratings-banner-badge {
    --reviewCountTextcolor: inherit;
    --rating_text_color: #000;
    --review_rating_background_color: #f5f8ff;

    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    row-gap: 20px;
    z-index: 150000;
    position: fixed;    
    flex-wrap: wrap;
    column-gap: 30px;
    min-height: 90px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundColor, #fff);
    transform: translateY(calc(100% + 40px));
    transition: all 200ms;
}

.proofratings-banner-badge.has-shadow {
    box-shadow: 0 1px 4px rgba(0,0,0,.6);
}

.proofratings-banner-badge.going-down {
    transform: translateY(0);
}

.proofratings-banner-badge .proofratings-banner-close {
    color: var(--reviewCountTextcolor);
    font-size: 13px;
    line-height: 1;
    position: absolute;
    top: 1px;
    left: 50%;
    z-index: 999;
    padding: 6px 16px;
    visibility: hidden;
    opacity: 0;
    text-decoration: none!important;
    transform: translate(-50%, -50%);
    background-color: var(--backgroundColor, #fff);
    border-radius: 100px;
    transition: all 80ms;
}

.proofratings-banner-badge .proofratings-banner-close:before {
    content: "×";
    font-size: 120%;
    line-height: 0.6;
    margin-right: 2px;
    display: inline-block;
    margin-left: -5px;
}

.proofratings-banner-badge:hover .proofratings-banner-close {
    opacity: 1;
    visibility: visible;
}


.proofratings-banner-badge .proofratings-logos {margin: 0}

.proofratings-banner-badge .rating-box {
    color: var(--rating_text_color, #000);
    min-width: 230px;
    height: 48px;
    line-height: 1;
    padding: 14px;
    padding-left: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--review_rating_background_color, #f5f8ff);
    border-radius: 100px
}

.proofratings-banner-badge .proofratings-logos img {--size: 30px}

.proofratings-banner-badge .rating-box .proofratings-stars {margin-left: 0; margin-right: 15px;}
.proofratings-banner-badge .rating-box .proofratings-stars i{background-color: var(--star_color, #4123ff)}

.proofratings-banner-badge .rating-box .rating {color: inherit; font-size: 14px; font-weight: bold; line-height: 1.5;}

.proofratings-banner-badge .proofratings-review-count {color: var(--reviewCountTextcolor); line-height: 1.1; margin: 0 100px 0 0; font-weight: normal;}

.proofratings-banner-badge .button-container {display:flex; align-items: center; justify-content: center; flex-wrap: wrap; column-gap: 30px; row-gap: 10px;}

.proofratings-banner-badge .proofratings-button {
    color: #fff;
    min-width: 140px;
    height: 48px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 0 12px;
    display: inline-flex;
    letter-spacing: 0.05em;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 100px;
    font-family: inherit;
    background-color: #312ED1;
}

.proofratings-banner-badge .proofratings-button:last-child {margin-right: 0;}

.proofratings-banner-badge .proofratings-button:last-child {
    color: var(--textColor, #312ED1);
    background-color: #fff;
}

.proofratings-banner-badge .proofratings-button.button1, .proofratings-banner-badge .proofratings-button.button2 {
    --textColor: #fff;
    --backgroundColor: #312ED1;
    --borderColor: transparent;

    color: var(--textColor);
    background-color: var(--backgroundColor);
    border: 3px solid var(--borderColor);
    border-radius: var(--radius, 5px);
    transition: all 150ms;
}

.proofratings-banner-badge .proofratings-button.button-round {border-radius: 100px!important}


.proofratings-banner-badge .proofratings-button.button1:hover {
    color: var(--textHoverColor, var(--textColor));
    border-color: var(--borderHoverColor, var(--borderColor));
    background-color: var(--backgroundHoverColor, var(--backgroundColor));
}

.proofratings-banner-badge .proofratings-button.button2 {
    --textColor: #312ED1;
    --backgroundColor: #fff;
    --borderColor: transparent;
}

.proofratings-banner-badge .proofratings-button.button2:hover {
    color: var(--textHoverColor, var(--textColor));
    border-color: var(--borderHoverColor, var(--borderColor));
    background-color: var(--backgroundHoverColor, var(--backgroundColor));
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .badge-hidden-tablet {display: none!important}
}

@media screen and (max-width: 1199px) {
    .proofratings-banner-badge {padding-top: 25px; padding-bottom: 25px;}
    .proofratings-banner-badge .proofratings-review-count {margin-right: 0;}
    .proofratings-banner-badge .button-container {flex: 0 0 100%}
}

@media screen and (max-width: 767px) {
    .badge-hidden-mobile {display: none!important}
}

@media screen and (max-width: 575px) {
    .proofratings-banner-badge .proofratings-logos {flex: 0 0 100%; margin-bottom: -5px;}
    .proofratings-banner-badge .rating-box {margin-right: 0;}
    .proofratings-banner-badge .proofratings-review-count {flex: 0 0 100%}

    .proofratings-popup-widgets-box {--column: 1!important; justify-content: center;}

    
    .proofratings-badges-popup .proofratings-widget:not(:last-child):after {top: auto; bottom: 0; left: 0; right: 0; height: 1px; width: auto}
    
    .proofratings-badge.badge-float:hover {--shadow_hover: transparent!important}
    .proofratings-badge.proofratings-badge-narrow.connected-more {max-width: 80%; flex-wrap: wrap; justify-content: center;}
    .proofratings-badge.proofratings-badge-narrow.connected-more .proofratings-logos {flex: 0 0 100%; margin-right: 0; margin-bottom: 5px;}

    .proofratings-badge.badge-float .proofratings-close {display: none;}
}