.proof-ratings-widget.proof-ratings-widget-google {
	--themeColor: #03ab4e;
}

.proof-ratings-widget.proof-ratings-widget-facebook {
	--themeColor: #0f7ff3;
}

.proof-ratings-widget.proof-ratings-widget-yelp {
	--themeColor: #e21c21;
}

.proof-ratings-widget.proof-ratings-widget-bbb {
	--themeColor: #136796;
}

.proof-ratings-widget.proof-ratings-widget-energysage {
	--themeColor: #bf793f;
}

.proof-ratings-widget.proof-ratings-widget-solarreviews {
	--themeColor: #0f92d7;
}

.proof-ratings-widget.proof-ratings-widget-guildquality {
	--themeColor: #032e57;
}

.proof-ratings-floating-badge {
}

.proof-ratings-floating-badge .proof-ratings-review-count {
	background-color: #212a3d!important;
}