html {
    scroll-behavior: smooth;
}

.proofratings-floating-badge {
    --padx: 20px;
    color: #000!important;
    min-width: 218px;
    display: inline-block;
    position: fixed;
    left: 30px;
    bottom: 30px;
    z-index: 3000;
    font-size: 18px;
    line-height: 1.3;
    cursor: pointer;
    text-decoration: none!important;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: all 200ms;
    box-shadow: 0 0 4px 4px var(--shadowColor, rgba(246,211,0,0.4))!important
}

.proofratings-floating-badge.right {
    left: auto;
    right: 30px
}

.proofratings-floating-badge:hover {
    box-shadow: 0 0 4px 4px var(--shadowHover, #377dbc66)!important;
}

.proofratings-floating-badge .proofratings-inner {
    padding: 15px var(--padx) 10px;
}

.proofratings-floating-badge .proofratings-score {
    font-size: 18px;
}

.proofratings-logos {text-align: center; line-height: 1; margin-bottom: 7px;}

.proofratings-logos img {
    --size: 25px;
    width: var(--size);
    height: var(--size);
    margin-left: -6px;
    object-fit: contain;
    border: 2px solid #fff;
    border-radius: 100px;
}

.proofratings-logos img:first-child {margin-left: 0;}

.proofratings-reviews {
    text-align: center;
    display: flex;
    font-size: 22px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.proofratings-stars, .proofratings-stars i {
    height: 15px!important;
    -webkit-mask-image: url(../images/star.svg);
    -webkit-mask-repeat: repeat-x;
    -webkit-mask-size: 20px 15px;   
}

.proofratings-stars {
    margin-left: 7px;
    width: 95.5px!important;
    display: inline-block;
    background-color: #ddd
}

.proofratings-stars i {
    display: block;
    width: 87%;
    background-color: #212A3D
}

.proofratings-floating-badge .proofratings-review-count {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px var(--padx);
    text-align: center;
    letter-spacing: 1px;
    background-color: #212a3d;
}

.proofratings-review-widgets-grid {
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 225px))
}

.proofratings-widget {
    color: var(--textColor, inherit)!important;
    display: flex;
    padding: 10px 20px;
    line-height: 1.2;
    align-items: center;
    border-radius: 10px;
    min-width: 200px;
    max-width: 225px;
    min-height: 185px;
    font-family: "Didact Gothic"!important;
    flex-direction: column;
    background-color: #fff;
    text-decoration: none!important;
    border: 3px solid transparent;
    transition: 150ms all;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0, 0.25)!important;
}

.proofratings-widget:hover {
    border-color: var(--themeColor)
}

.proofratings-widget .review-site-logo {
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.proofratings-widget .review-site-logo img {
    max-width: 100%;
    max-height: 100%;
}

.proofratings-widget .proofratings-stars i {
    background-color: var(--themeColor, #0f7ff3);
}

.proofratings-widget .review-count {
    color: #fff;
    line-height: 1.3;
    padding: 5px 12px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--themeColor, #0f7ff3);
    border-radius: 2px;
}

.proofratings-widget .view-reviews {
    font-size: 12px;
    margin-top: 8px;
    letter-spacing: 1px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .proofratings-floating-badge.proofratings-floating-badge-hidden-tablet {display: none!important}
}

@media screen and (max-width: 767px) {
    .proofratings-floating-badge.proofratings-floating-badge-hidden-mobile {display: none!important}
}


.proofratings-floating-widgets-box::-webkit-scrollbar {
    height: 5px;
    background-color: transparent;
}

.proofratings-floating-widgets-box::-webkit-scrollbar-thumb {
    visibility: hidden;
    background-color: darkgrey;
    border-radius: 100px;
}

.proofratings-floating-widgets-box:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

#proofratings-floating-embed {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 5000;
    display: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25)
}

.proofratings-floating-badge.right + #proofratings-floating-embed {
    left: auto;
    right: 20px;
}

.proofratings-floating-widgets-box {
    max-width: 80vw;
    overflow-y: auto;
    padding: 8px;
    display: flex;
    padding-bottom: 4px;
}


#proofratings-floating-embed .proofratings-widget:not(:last-child) {
    margin-right: 25px;
}

#proofratings-floating-embed .proofratings-widget {
    box-shadow: none!important;
    position: relative;
}

#proofratings-floating-embed .proofratings-widget:not(:last-child):after {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: 1px;
    right: -16px;
    background-color: rgb(224,224,224);
}

#proofratings-floating-embed .proofrating-close {
    color: #212a3d;
    position: absolute;
    top: 2px;
    font-weight: bold;
    font-size: 25px;
    right: 8px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}